html { 
    background: url("colored_houses.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    background: rgb(142, 143, 135);
    text-align: center;
    }
#hacker img {
  border-style: solid;
}

